/* ===============================
   Variáveis globais
================================= */
:root {
    --cor-header: #21387c;
}

/* ===============================
   Estilo do rodapé (footer)
================================= */
footer {
    background-color: var(--cor-header); 
    padding: 1rem;                                   
    width: 100%;                        
    display: flex;                   
    justify-content: space-between; 
    align-items: center;            
    color: #fff;
    margin-top: auto; 
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* ===============================
   Navegação dentro do rodapé
================================= */
footer nav {
    display: flex;                     
    justify-content: space-between;    
    align-items: center;            
    width: 100%;                       
}

/* ===============================
   Ícone do carrinho no rodapé
================================= */
.cart-icon-link {
    color: white;               
    font-size: 1.5rem;               
    margin-left: 20px;                
    text-decoration: none;           
    display: flex;           
    align-items: center; 
}

.cart-icon-link i {
    pointer-events: none;     
}

/* Hover no ícone do carrinho */
.cart-icon-link:hover {
    color: #ffcc00;                      
    transform: scale(1.1);              
    transition: color 0.3s ease, transform 0.2s ease;
}

/* ===============================
   Menu de navegação no rodapé
================================= */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #ffcc00;
}
