*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}
header{
    background-color: #2c62fe;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.banner {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn2.picryl.com/photo/2019/05/06/cameras-de-surveillance-a-lyon-pres-des-halles-paul-bocuse-mai-2019-74f8ff-1024.jpg) center / cover;
    display: flex
;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 1rem;
}